{% load static %}

<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" ></script>

<!-- Django Ajax -->
<script src="{% static 'js/django_ajax.js' %}"></script>

<!-- Stripe -->
<script src="https://js.stripe.com/v3/"></script>

<script src="{% static 'js/stripe_custom.js' %}"></script>

<script src="{% static 'js/jobsite.js' %}"></script>