{% extends "base.html" %}


{% block content %}
<section>
    <div class="container">
        <!-- <h1>Welcome {{ request.user}} to your company page</h1>
        {{ request.user.is_authenticated }}
        <p>{{ request.user.company.description }}</p> -->
        <div class="columns">
            <div class="column is-2">
                {% include 'companydashboard/snippets/sidebar.html' %}
            </div>
            <div class="column is-9">
                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                        <div class="title">Dashboard <span class="subtitle">{% block page_title %}{% endblock %}</span></div>
                        </div>
                    </div>
                    <div class="level-right">
                        <div class="level-item">
                        <button type="button" class="button is-small">
                            April 26, 2018
                        </button>
                        </div>
                    </div>
                </div>
                
                {% block dashcontent %}
                    
                {% endblock dashcontent %}
                    
            
            </div>
        </div>
    </div>
</section>
{% endblock content %}
