{% extends "companydashboard/base.html" %}

{% block page_title %} {{ title }} {% endblock %}

{% block dashcontent %}

    <h3 class="subtitle">One Voucher Costs $10</h3>
    <div class="columns">
        <div class="column is-4 box">
            <form action="" method="post" novalidate>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% include 'base/form.html' with btn_text='Login' %}
                <div class="field is-grouped">
                    <div class="control">
                        <input type="submit" class="button is-primary" value="Make Order">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock dashcontent %}
    