{% extends "companydashboard/base.html" %}

{% block page_title %} Home {% endblock %}

{% block dashcontent %}

    <section class="hero is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              {{ job.title }}
            </h1>
            <h2 class="subtitle">
              Manage your Applicants.
            </h2>
          </div>
        </div>
    </section>

    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>No</th>
                <th>Applicant Name</th>
                <th>Resume</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for app in applications %}
            <tr>
                <td width="5%">{{forloop.counter}}</td>
                <td><a href="{% url 'company_job_detail' job.pk %}">{{ app.applicant.user.full_name }}</a></td>
                <td><a href="{{ app.resume.url }}">Download Resume</a></td>
                <td><a class="button is-small is-primary" href="#">{{ app.status }}</a></td>
            </tr>
            {% empty %}
                <h1 class="title is-5">No Applications Yet!</h1>
            {% endfor %}
        
        </tbody>
    </table>

{% endblock dashcontent %}
