{% extends "companydashboard/base.html" %}

{% block page_title %} Home {% endblock %}

{% block dashcontent %}

    <h1>{{ company.name }} Jobs</h1>
    <table class="table is-fullwidth is-striped is-hoverable">
        <tbody>
            {% for job in job_list %}
            <tr>
                <td width="5%"><i class="fa fa-briefcase"></i></td>
                <td><a href="{% url 'company_job_detail' job.pk %}">{{ job.title }}</a></td>
                <td><a class="button is-small is-primary" href="{% url 'job_update' job.pk %}">Edit</a></td>
                <td><a class="button is-small is-danger" href="{% url 'job_delete' job.pk %}">Delete</a></td>
            </tr>
            {% empty %}
                <h1>You have not Posted Jobs Yet!</h1>
            {% endfor %}
        
        </tbody>
    </table>

{% endblock dashcontent %}
