.pd-center {
    padding: 0px 24px;
}

.mg-top {
    margin-top: 40px;
}

body > div > div > div > div.column.is-8 > article > div.media-content > div > p:nth-child(1) {
    margin-bottom: .2em ;
}

body > div > div > div > div.column.is-8 > article > div.media-content > div > nav {
    margin-bottom: .1em;
}