{% extends "base.html" %}


{% block content %}
<section>
    <div class="container pd-center mg-top">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter card">
                <h1 class="title is-4">{% if title %} {{title}} {% endif %}</h1>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {% include 'base/form.html' with btn_text='Login' %}
                    <div class="field is-grouped">
                        <div class="control">
                            <a href="{% url 'applicant_home' %}" class="button is-info">Skip</a>
                        </div>
                        <div class="control">
                            <input type="submit" class="button is-primary" value="Create">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    