{% extends "base.html" %}


{% block content %}
<section>
    <div class="container pd-center mg-top">
        <div class="columns">
            <div class="column is-4 is-offset-one-third card">
                <h1 class="title is-4">Login</h1>
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {% include 'base/form.html' with btn_text='Login' %}
                    <div class="field is-grouped">
                        <div class="control">
                            <input type="submit" class="button is-primary" value="Login">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
    