<aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li><a href="{% url 'company_home' %}">Dashboard</a></li>
        </ul>
        <p class="menu-label">
            Jobs
        </p>
        <ul class="menu-list">
            <li><a href="{% url 'company_jobs' %}">Manage Jobs</a></li>
            <li><a href="{% url 'job_create' %}">Post Job</a></li>
        </ul>
        <p class="menu-label">
            Profile
        </p>
        <ul class="menu-list">
            <li><a>Edit Personal Profile</a></li>
            <li><a>Edit Company Profile</a></li>
        </ul>
        <p class="menu-label">
            Accounts
        </p>
        <ul class="menu-list">
            <li><a>Your Vouchers</a></li>
            <li><a>Manage Credit Card</a></li>
        </ul>
        </aside>