<!DOCTYPE html>
<html>{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Jobsite</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

  {% include 'base/navbar.html' %}
      
      {% block content %}
          
      {% endblock content %}
          
  </section>
  </body>
</html>