{% extends "companydashboard/base.html" %}

{% block page_title %} Home {% endblock %}

{% block dashcontent %}

    
    {% if charge_error %}
        <h1 class="title is-5">{{ error_message }}</h1>
    {% else %}
        <h1 class="title is-5">Your Voucher(s) Order</h1>
        <div class="content box">
            <p class="subtitle"><b>Order Id:</b> {{ order.order_id }}</p>
            <p class="subtitle"><b>Quantity:</b> {{ order.quantity }}</p>
            <p class="subtitle"><b>Total:</b> ${{ order.total_amount }}</p>
            <p class="subtitle"><b>Your Payment Card:</b> {{ order.payment_profile.default_card.last4 }}</p>

            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="order_id" value="{{ order.order_id }}" />
                <button type="submit" class='button is-primary'>Pay</button>
            </form>
        </div>
    {% endif %}
        
    
    

{% endblock dashcontent %}
