{% extends "base.html" %}


{% block content %}
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-8">
                    {% for job in job_list %}
                        <article class="media box">
                            <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="https://bulma.io/images/placeholders/128x128.png">
                            </p>
                            </figure>
                            <div class="media-content">
                            <div class="content">
                                <p>
                                <strong><a href="{{ job.get_absolute_url }}"> {{ job.title }} </a></strong> <small>@{{ job.company.name }}</small>
                                    
                                
                                <br>
                                {{ job.description|truncatewords:30 }}
                                </p>
                                <nav class="level is-mobile">
                                        <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                            <span>{{ job.company.name }}</span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                            <span>{{ job.company.state }}</span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                            <span>{% if job.salary %} {{ job.salary }} {% else %} Confidential {% endif %}</span>
                                        </a>
                                        </div>
                                    </nav>
                            </div>
                            
                            </div>
                    
                        </article>
                        
                    {% empty %}
                        <h1 class="title is-3">Sorry! No jobs Yet.</h1>
                    {% endfor %}
                </div>

                <div class="column">
                    <div class="card">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="Search Jobs">
                            </div>
                            <div class="control">
                                <a class="button is-info">
                                Search
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
    